<div class="container">
  <!-- header row-->
  <div class="row-axis">
    <div class="row-title">Activities</div>
    <div class="month-axis">
      <span
        class="month"
        *ngFor="let month of monthAxis"
        [style.width]="month.monthDurationPercentage + '%'"
      >
        {{ month.monthName }}</span
      >
    </div>
  </div>

  <div class="gantt-chart-row" *ngFor="let row of rows; let i = index">
    <div class="row-title">
      <!-- {{ row.name }} -->

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div>{{ row.name }}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="row-events">
      <div
        class="event-period tooltip"
        *ngFor="let event of row.events"
        [style.margin-left]="getEventOffsetPercentage(event.startDate) + '%'"
        [style.width]="getEventDurationPercentage(event) + '%'"
        [style.background]="getColour(i, event)"
      >
        <span class="event-name">{{ event.name }}</span>
        <div class="tooltip-text">
          <div *ngIf="event.name">
            <strong>{{ event.name }}: </strong>
          </div>
          {{ event.startDate | date: 'mediumDate' }} -
          {{ event.endDate | date: 'mediumDate' }}
        </div>
      </div>
      <div
        class="event-milestone tooltip"
        *ngFor="let milestone of row.mileStones"
        [style.margin-left]="getEventOffsetPercentage(milestone.date) + '%'"
      >
        <i class="fas fa-star"></i>
        <div class="tooltip-text">
          <div *ngIf="milestone.name">
            <strong>{{ milestone.name }}: </strong>
          </div>
          {{ milestone.date | date: 'mediumDate' }}
        </div>
      </div>
      <div class="grid-lines">
        <span
          class="grid-line"
          *ngFor="let month of monthAxis"
          [style.width]="month.monthDurationPercentage + '%'"
        ></span>
      </div>
    </div>
  </div>
</div>
